<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <!-- etiqueta html a con ruta especifica
      <a href="/articles/<%= article.id %>"> 
      -->
      
      <!-- usando metodo article_path -->
      <a href="<%= article_path(article)%>">
        <%= article.title %>
      </a>
    </li>
  <% end %>
</ul>
